@import "./vars/vars";

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

.square(@size: 30px) {
  height: @size;
  width: @size;
}

.bg-contain {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.respond-min(@size; @rules) {
  @media (min-width: unit(@size, px)) {
    @rules();
  }
}

.respond-max(@size; @rules) {
  @media (max-width: unit(@size, px)) {
    @rules();
  }
}

.respond-sm(@rules) {
  .respond-max(@max-width + 1, @rules);
}
.respond-lg(@rules) {
  .respond-min(@max-width, @rules);
}
