@import "./theme/mixins";

.hide {
  display: none !important;
}

.other-input {
  display: inline-block;
}

textarea {
  resize: none !important;
}

.has-error .ant-form-explain {
  line-height: 2.5;
  font-size: 16px;
}
